html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  color: #262626;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1em;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: column wrap;
}

.row-white, .row-gray {
  padding: 3em 0 3em 0;
}

.col-left, .col-right {
  flex: 1;
  margin: 0.5em 0.5em;
  padding: 1em;
}

.col-full-nav {
  flex: 1;
  margin: 0 0 0.5em 0;
  padding: 1em 1em 1.5em 1em;
}

.counters {
  flex: 1;
}

.col-full-footer {
  flex: 1;
  margin: 0 0 0 0;
  padding: 0;
}

@media screen and (min-width: 650px) {
  .row {
    flex-flow: row wrap;
  }
  main .col-right {
    flex: 1.5;
  }
  main .col-left {
    margin-left: 5em;
  }
  main .col-right {
    margin-right: 5em;
  }
  .countdownOne {
    float: right;
  }
  .headline, .subline, .main-content {
    text-align: left !important;
  }
}

@media screen and (min-width: 900px) {
  main .col-right {
    flex: 2;
  }
  main .col-left {
    margin-left: 10em;
  }
  main .col-right {
    margin-right: 10em;
  }
  .countdownOne {
    float: right;
  }
  .headline, .subline, .main-content {
    text-align: left !important;
  }
}

.container {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
}

main {
  flex: 1;
}

.nav, .footer {
  text-align: center;
}

.nav a, .footer a {
  text-decoration: none;
  color: #262626;
}

.nav ul, .footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li, .footer li {
  display: inline-block;
  margin-right: 2em;
}

.nav li:last-child, .footer li:last-child {
  margin-right: 0;
}

.footer {
  background: #CCCDD1;
}

.footer li {
  margin-bottom: 1em;
}

.headline, .subline, .main-content {
  text-align: center;
}

.subline {
  font-style: italic;
}

.main-content {
  text-indent: 15;
  max-width: 700px;
}

main .row {
  background-color: #CCCDD1;
  align-items: center;
  align-content: flex-end;
  -webkit-clip-path: polygon(100% 5%, 100% 95%, 0 100%, 0 0);
  clip-path: polygon(100% 5%, 100% 95%, 0 100%, 0 0);
}

.counters .row {
  background-color: white;
  align-items: center;
  align-content: flex-end;
}

.profile {
  width: 200px;
  border-radius: 50%;
  float: right;
}

.countdownOne, .countdownTwo {
  text-align: center;
}

.countText {
  font-size: 1.5em;
}

.horiz {
  margin-left: 48%;
  cursor: pointer;
}

.hide {
  display: none;
}
